* {
  box-sizing: border-box;
}

body{
  margin:0;
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
}

nav{
  height: 64px;
  background-color: #111827;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
}

nav h2{
  margin: 0;
}

nav div{
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}


nav a:hover {
  text-decoration: underline;
}

main {
  padding: 32px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 6px;
}